// COLORS
$color_primary: #F6F6F6;
$color_secondary: #353840;
$color_accent-1: #64D686;
$color_accent-2: #FF3434;
$color_border: #35384050;
$color_border-2: #35384010;
$color_chat-bubble-1: #E3EDF9;
$color_chat-bubble-2: #FFFFFF;
$color_background: #BED3B7;
$color_chat-background: #ffffff;